{% extends 'base.html' %}

{% block body %}

    <div class="ui row segment coleta-segment border-segment">

        <div class="three wide column">
            <a href="{% url 'index' %}">
                <div class="ui labeled icon button basic">
                    <i class="left arrow icon"></i> Voltar
                </div>
            </a>
        </div>

        <div class="ten wide column">
            <div class="coleta-title-edit-page">
                <h1><i class="plus icon"></i> Nova Pessoa</h1>
            </div>
        </div>

        <div class="three wide column"></div>

        <div class="sixteen wide column coleta-table-form">
            <form class="ui form" id="RequerimentoForm" method="post" enctype="multipart/form-data" action="#">

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Nome</label>
                        <input type="text" placeholder="João Silva..."/>
                    </div>
                    <div class="four wide field">
                        <label>E-mail</label>
                        <input type="text" placeholder="joao@email.com"/>
                    </div>
                    <div class="four wide field"></div>
                </div>

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="eight wide field">
                        <div class="ui blue message">
                            Um link será enviado para o e-mail cadastrado para criação de senha.
                        </div>
                    </div>
                    <div class="four wide field"></div>
                </div>


                <br/>
                <br/>
                <br/>

                <div class="ui centered grid">
                    <div class="ui column centered row">
                        <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>
                        <a href="{% url 'index' %}" class="ui button red">
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}