{% extends 'base.html' %}

{% block body %}

    <div class="ui centered grid coleta-grid">
        <div class="ui row segment coleta-segment border-segment">

            <div class="sixteen wide column">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h2><i class="file outline icon"></i> Coleta: #4234234</h2>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="eight wide column">
                        <p><i class="hashtag icon"></i> <strong>ID do Controlador: </strong>#65A46H45</p>
                        <p><i class="lock icon"></i> <strong>Token de autenticação: </strong>#ddfg6h0sdf6jh638g7h
                        </p>
                        <p><i class="user icon"></i> <strong>Criado por: </strong>Maria dos Santos</p>
                    </div>

                    <div class="eight wide column">
                        <p><i class="marker icon"></i> <strong>Contexto: </strong>Fábrica de Software</p>
                        <p>
                            <i class="check circle icon"></i> <strong>Status: &ensp;</strong>
                        <div class="ui fitted toggle checkbox">
                            <input type="checkbox" checked="checked"/>
                            <label></label>
                        </div>
                        </p>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column">
                        <h3><i class="list icon"></i> Sensores</h3>
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Tipo de Sensor</th>
                                <th>Local</th>
                                <th>Unidade de Medida</th>
                                <th><i class="settings icon"></i> Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>DHT 22</td>
                                <td>Temperatura</td>
                                <td>Acima da porta de entrada</td>
                                <td>°C</td>
                                <td><a href="{% url 'lista_dados' %}"><i class="database icon"></i> Dados</a></td>
                            </tr>
                            <tr>
                                <td>DHT 22</td>
                                <td>Umidade</td>
                                <td>Acima da porta de entrada</td>
                                <td>%</td>
                                <td><a href="{% url 'lista_dados' %}"><i class="database icon"></i> Dados</a></td>
                            </tr>
                            <tr>
                                <td>Sensor de Presença</td>
                                <td>Presença</td>
                                <td>-81.235689, -58.892567</td>
                                <td>Inteiro</td>
                                <td><a href="{% url 'lista_dados' %}"><i class="database icon"></i> Dados</a></td>
                            </tr>
                            <tr>
                                <td>Estação Meteorológica</td>
                                <td>Pluviosidade</td>
                                <td>-26.296534, -48.854252</td>
                                <td>mm</td>
                                <td><a href="{% url 'lista_dados' %}"><i class="database icon"></i> Dados</a></td>
                            </tr>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <a href="{% url 'exportar_dados' %}" class="ui blue button"><i class="database icon"></i> Exportar dados</a>
            </div>

        </div>
    </div>

{% endblock %}