{% extends 'base.html' %}

{% block body %}
    <div class="ui centered grid coleta-grid">
        <div class="ui row segment coleta-segment border-segment">

            <div class="four wide column">
                <h1><i class="clone icon"></i> Seus Projetos</h1>
            </div>

            <div class="nine wide column"></div>

            <div class="three wide column">
                <a class="ui green button" href="{% url 'novo_projeto' %}">
                    <i class="ui plus icon"></i> Novo Projeto
                </a>
            </div>

            <div class="sixteen wide column">
                <div class="ui divider"></div>
            </div>

            <div class="sixteen wide column coleta-table-form">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h2><i class="file outline icon"></i> Estação Meteorológica</h2>
                    </div>

                    <div class="eight wide column">
                        <p><i class="calendar icon"></i> <strong>Cadastrado em: </strong>
                            15 de junho de 2017</p>

                        <p><i class="user icon"></i> <strong>Criado por: </strong>João da Silva</p>

                        <p><i class="spy icon"></i> <strong>Orientador: </strong>João da Silva</p>
                    </div>

                    <div class="eight wide column">
                        <i class="group icon"></i> <strong>Integrantes: </strong>
                        <ul>
                            <li>Marcos de Oliveira - marcos.oliveira@email.com</li>
                            <li>Irineu Rocha - irineu.rocha@email.com</li>
                            <li>Felipe Lucas - felipe.lucas@email.com</li>
                        </ul>
                    </div>

                    <div class="sixteen wide column">
                        <i class="list icon"></i> <strong>Coletas</strong>
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>ID Coleta</th>
                                <th>ID Controlador</th>
                                <th>Contexto</th>
                                <th>Status</th>
                                <th><i class="settings icon"></i> Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#00001</td>
                                <td>#789632178</td>
                                <td>Fábrica de Software</td>
                                <td>Ativo</td>
                                <td><a href="{% url 'coleta' %}"><i class="eye icon"></i> Ver coleta</a></td>
                            </tr>
                            <tr>
                                <td>#00002</td>
                                <td>#4353645</td>
                                <td>Bloco B</td>
                                <td>Ativo</td>
                                <td><a href="{% url 'coleta' %}"><i class="eye icon"></i> Ver coleta</a></td>
                            </tr>
                            <tr>
                                <td>#00003</td>
                                <td>#5397808934</td>
                                <td>Lab - 05</td>
                                <td>Desativado</td>
                                <td><a href="{% url 'coleta' %}"><i class="eye icon"></i> Ver coleta</a></td>
                            </tr>
                            <tr>
                                <td>#00004</td>
                                <td>#78674334</td>
                                <td>Estação Meteorológica</td>
                                <td>Ativo</td>
                                <td><a href="{% url 'coleta' %}"><i class="eye icon"></i> Ver coleta</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <a href="{% url 'exportar_dados' %}" class="ui blue button"><i class="database icon"></i> Exportar dados</a>
            </div>

            <br/>

            <div class="sixteen wide column">
                <div class="ui divider"></div>
            </div>

            <div class="sixteen wide column coleta-table-form">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h2><i class="file outline icon"></i> SIES</h2>
                    </div>

                    <div class="eight wide column">
                        <p><i class="calendar icon"></i> <strong>Cadastrado em: </strong>
                            28 de agosto de 2017</p>

                        <p><i class="user icon"></i> <strong>Criado por: </strong>Daniel Schneider</p>

                        <p><i class="spy icon"></i> <strong>Orientador: </strong>João da Silva</p>
                    </div>

                    <div class="eight wide column">
                        <i class="group icon"></i> <strong>Integrantes: </strong>
                        <ul>
                            <li>Daniel Schneider - daniel.schneider@email.com</li>
                            <li>Maria dos Santos - maria.santos@email.com</li>
                            <li>Bruna Guimarães - bruna.guimaraes@email.com</li>
                        </ul>
                    </div>

                    <div class="sixteen wide column">
                        <h3><i class="list icon"></i> Coletas</h3>
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>ID Coleta</th>
                                <th>ID Controlador</th>
                                <th>Contexto</th>
                                <th>Status</th>
                                <th><i class="settings icon"></i> Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#00005</td>
                                <td>#665584</td>
                                <td>Fábrica de Software</td>
                                <td>Ativo</td>
                                <td><a href="{% url 'coleta' %}"><i class="eye icon"></i> Ver coleta</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <a href="{% url 'exportar_dados' %}" class="ui blue button"><i class="database icon"></i> Exportar dados</a>
            </div>

            <br/>

        </div>
    </div>

{% endblock %}
