<!DOCTYPE html>
<html>
<head>
    <title>IFC Coleta</title>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="css/base.css"/>
    <link type="text/css" rel="stylesheet" href="css/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="semantic/semantic.css"/>
    <link type="text/css" rel="stylesheet" href="semanticui/dist/semantic.css"/>
</head>

<body>

<header>
    <div class="ui fluid">
        <div class="ui container">
            <div class="ui grid">
                <div class="two wide column">
					<a href="index.html">
						<i class="massive world icon icon-logo"></i>
                    </a>
                </div>
                <div class="eleven wide column">
                    <br/>
                    <div class="ui large header red">
                        <a href="index.html" class="issem-title">IFC Coleta</a>
                        <div class="sub header">
                            Sistema para coleta de dados dentro da Internet das Coisas
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="three wide column right aligned">
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <a href="contato.html">
                                <i class="text mail outline icon"></i>
                                Contato
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="ui menu large">
    <div class="ui container">
        <a href="login.html" class="item issem-icon"><i class="icon large home"></i></a>

        <div class="right menu">
            <div class="ui pointing dropdown link item">
                <i class="ui right large user icon"></i>
                Faça Login
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="ui container issem-content">
        <div class="ui centered grid issem-grid">
            <div class="row">
                <div class="four wide column">
                    <div class="ui segment">
                        <form class="ui large form" action="#" method="post">
                            <div class="field">
                                <label>E-mail:</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text"/>
                                </div>
                            </div>
                            <div class="field">
                                <label>Senha:</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password"/>
                                </div>
                            </div>

                            <br/>
                            <div class="ui centered grid">
                                <a href="index.html" type="submit" name="submit" class="ui button blue center">Login</a>
                            </div>
                            <br/>
                            <br/>
                        </form>
                        <div class="ui centered grid">
                            <div class="sixteen wide column centered aligned">
                                <a href="#">Esqueceu sua senha?</a>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="one wide column">
                    <div class="ui vertical divider">
                        <i class="ellipsis vertical icon"></i>
                    </div>
                </div>
                <div class="ui eleven wide column segment">
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <h1><i class="info circle icon"></i> IFC Coleta</h1>
                            <section class="issem-info-texto">
                                Sistema para coleta de dados dentro da Internet das Coisas
                            </section>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
