{% extends 'base.html' %}

{% block body %}

    <div class="twelve wide column">
        <br/>

        <div class="ui centered grid">
            <div class="six wide column">
                <div class="ui segment center aligned">
                    <h2 class="ui icon header">
                        <i class="circular user icon"></i>
                        Nome de Usuário
                    </h2>
                    <p><i class="mail icon"></i> usuario@email.com</p>
                    <a class="ui blue button" href="{% url 'edita_perfil' %}">
                        <i class="edit icon"></i>
                        Editar
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}