{% if dados %}
    <div class="ui centered grid coleta-pagination">
        <div class="ui pagination menu">
            <a href="?page=1" class="icon item blue">Primeira</a>
            <a href="?page={{ previous_page }}" class="icon item">
                <i class="left arrow icon blue"></i>
            </a>
            <a href="?page={{ next_page }}" class="icon item">
                <i class="right arrow icon blue"></i>
            </a>
            <a href="?page={{ last_page }}" class="icon item blue">Última</a>
        </div>
    </div>
{% endif %}