{% extends 'base.html' %}

{% block body %}

    <div class="ui centered grid coleta-grid">
        <div class="ui row segment coleta-segment border-segment">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                    <br/>
                </div>
            {% endif %}

            <div class="three wide column"></div>

            <div class="ten wide column">
                <div class="coleta-title-edit-page">
                    <h1><i class="plus icon"></i> Nova Coleta</h1>
                </div>
            </div>

            <div class="three wide column"></div>

            <div class="sixteen wide column coleta-table-form">
                {% if not id %}
                    <form class="ui form" id="ColetaForm" method="post" action="{% url 'nova_coleta' %}">
                {% else %}
                    <form class="ui form" id="ColetaForm" method="post" action="{% url 'edita_coleta' id %}">
                {% endif %}

                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Projeto</label>
                        {{ form.projeto }}
                        {% if form.projeto.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.projeto.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Contexto</label>
                        {{ form.contexto }}
                        {% if form.contexto.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.contexto.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field"></div>
                </div>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>ID do Controlador</label>
                        {{ form.id_controlador }}
                        {% if form.id_controlador.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.id_controlador.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Status</label>
                        {{ form.status }}
                        {% if form.status.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.status.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field"></div>
                </div>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Data inicial do sensoriamento</label>
                        {{ form.data_inicio }}
                        {% if form.data_inicio.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.data_inicio.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Data final do sensoriamento</label>
                        {{ form.data_fim }}
                        {% if form.data_fim.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.data_fim.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide column"></div>
                </div>

                <div class="ui centered grid">
                    <div class="ui column centered row">
                        <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>
                        <a href="{% url 'index' %}" class="ui button red">
                            Cancelar
                        </a>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}