{% extends 'base.html' %}

{% block body %}

    <div class="ui centered grid coleta-grid">
        <div class="ui row segment coleta-segment border-segment">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                    <br/>
                </div>
            {% endif %}

            <div class="three wide column"></div>

            <div class="ten wide column">
                <div class="coleta-title-edit-page">
                    {% if not id %}
                        <h1><i class="plus icon"></i> Novo Projeto</h1>
                    {% else %}
                        <h1><i class="pencil icon"></i> Editar Projeto</h1>
                    {% endif %}
                </div>
                <div class="ui grid centered info message">
                    Inicialmente verifique se o orientador e todos os integrantes estão cadastrados no sistema, <br/>
                    se não cadastre-os utilizando a aba 'Novo Usuário'.
                </div>
            </div>

            <div class="three wide column"></div>

            <div class="sixteen wide column coleta-table-form">
                {% if not id %}
                    <form class="ui form" id="ProjetoForm" method="post" action="{% url 'novo_projeto' %}">
                {% else %}
                    <form class="ui form" id="ProjetoForm" method="post" action="{% url 'edita_projeto' id %}">
                {% endif %}

                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Nome</label>
                        {{ form.nome }}
                        {% if form.nome.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.nome.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <div class="fields">
                            <div class="fourteen wide field">
                                <label>Orientador</label>
                                {{ form.orientador }}
                                {% if form.orientador.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ form.orientador.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="eight wide field">
                        <div class="fields">
                            <div class="fifteen wide field">
                                <label>Integrantes</label>
                                {{ form.integrantes }}
                                {% if form.integrantes.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ form.integrantes.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="four wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}