{% extends 'base.html' %}

{% block body %}

    <div class="ui centered grid coleta-grid">
        <div class="ui row segment coleta-segment border-segment">

            <div class="sixteen wide column">
                <div class="ui grid">
                    <div class="eight wide column">
                        <h2><i class="file outline icon"></i> Coleta: # {{ coleta.id }}</h2>
                        <a href="{% url 'edita_coleta' coleta.id %}">Editar coleta</a>
                    </div>
                    <div class="eight wide column right aligned">
                        <h2>Projeto: {{ coleta.projeto }}</h2>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="eight wide column">
                        <p><i class="hashtag icon"></i> <strong>ID do
                            Controlador: </strong># {{ coleta.id_controlador }}</p>
                        <p><i class="lock icon"></i> <strong>Token de autenticação: </strong># {{ coleta.token }}</p>
                        <p><i class="calendar icon"></i> <strong>Data Inicial: </strong>{{ coleta.data_inicio }}</p>
                        <p><i class="calendar icon"></i> <strong>Data final: </strong> {{ coleta.data_fim }}</p>
                    </div>

                    <div class="eight wide column">
                        <p><i class="marker icon"></i> <strong>Contexto: </strong>Fábrica de Software</p>
                        <p><i class="check circle icon"></i> <strong>Status: {{ coleta.status }}</strong></p>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column">
                        <h3><i class="database icon"></i> Últimos dados coletados</h3>
                        {% if dados %}
                            <table class="ui celled table">
                                <thead>
                                <tr>
                                    <th>Projeto</th>
                                    <th>Orientador</th>
                                    <th>Sensor</th>
                                    <th>Tipo de Sensor</th>
                                    <th>Local</th>
                                    <th>Data</th>
                                    <th>Hora</th>
                                    <th>Unidade de Medida</th>
                                    <th>Dado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dado in dados %}
                                    <tr>
                                        <td>{{ dado.nome_projeto }}</td>
                                        <td>{{ dado.orientador_projeto }}</td>
                                        <td>{{ dado.sensor }}</td>
                                        <td>{{ dado.tipo_sensor }}</td>
                                        <td>{{ dado.local }}</td>
                                        <td>{{ dado.data }}</td>
                                        <td>{{ dado.hora }}</td>
                                        <td>{{ dado.unidade_medida }}</td>
                                        <td class="active">{{ dado.dado }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <div class="ui yellow message">
                                Não existe nenhum dado coletado.
                            </div>
                        {% endif %}
                        <br/>
                    </div>
                </div>
            </div>

            {% if dados %}
                <div class="sixteen wide column center aligned">
                    <a href="{% url 'lista_dados' coleta.id %}" class="ui green button">
                        <i class="database icon"></i> Ver mais
                    </a>
                    <a href="{% url 'exportar_dados' coleta.id %}" class="ui blue button">
                        <i class="download icon"></i> Exportar dados
                    </a>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}