{% extends 'base.html' %}

{% block body %}

    <div class="ui row segment coleta-segment border-segment">

        <div class="three wide column"></div>

        <div class="ten wide column">
            <div class="coleta-title-edit-page">
                <h1 class="ui header icon medium">
                    <i class="download icon"></i>
                    <div class="content">
                        Exportar Dados
                        <div class="sub header">
                            Escolha uma das opções de exportação
                        </div>
                    </div>
                </h1>
            </div>

            <br/>
            <br/>

            <div class="ui centered grid">
                <div class="sixteen wide column center aligned">
                    <a href="{% url 'download'  %}" class="ui black massive button">JSON</a>
                    <a href="#" class="ui black massive button">TXT</a>
                    <a href="#" class="ui black massive button">CSV</a>
                    <a href="#" class="ui black massive button">XML</a>
                </div>
            </div>

            <br/>
            <br/>

        </div>

        <div class="three wide column"></div>

    </div>

{% endblock %}