{% extends 'base.html' %}

{% block body %}

    <div class="ui row segment coleta-segment border-segment">

        <div class="three wide column"></div>

        <div class="ten wide column">
            <div class="coleta-title-edit-page">
                <h1 class="ui header icon medium">
                    <strong>Coleta:</strong> <a
                            href="{% url 'coleta' id_coleta %}"># {{ id_coleta }}</a>
                    <br/>
                    <br/>
                    <i class="download icon"></i>
                    <div class="content">
                        Exportar Dados
                        <div class="sub header">
                            Escolha uma das opções de exportação
                        </div>
                    </div>
                </h1>
            </div>

            <br/>
            <br/>

            <div class="ui centered grid">
                <div class="sixteen wide column center aligned">
                    <a href="{% url 'download_dados' 1 id_coleta %}" class="ui black massive button">CSV</a>
                    <a href="{% url 'download_dados' 2 id_coleta %}" class="ui black massive button">JSON</a>
                    <a href="{% url 'download_dados' 3 id_coleta %}" class="ui black massive button">HTML</a>
                    <a href="{% url 'download_dados' 4 id_coleta %}" class="ui black massive button">XLS</a>
                    <a href="{% url 'download_dados' 5 id_coleta %}" class="ui black massive button">ODS</a>
                </div>
            </div>

            <br/>
            <br/>

        </div>

        <div class="three wide column"></div>

    </div>

{% endblock %}