{% extends 'base.html' %}

{% block body %}

    <div class="row">
        <div class="four wide column">
            <div class="ui segment">
                <form class="ui large form" action="#" method="post">
                    <div class="field">
                        <label>E-mail:</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>Senha:</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password"/>
                        </div>
                    </div>

                    <br/>
                    <div class="ui centered grid">
                        <a href="{% url 'index' %}" type="submit" name="submit" class="ui button blue center">Login</a>
                    </div>
                    <br/>
                    <br/>
                </form>
                <div class="ui centered grid">
                    <div class="sixteen wide column centered aligned">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="one wide column">
            <div class="ui vertical divider">
                <i class="ellipsis vertical icon"></i>
            </div>
        </div>
        <div class="ui eleven wide column segment">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h1><i class="info circle icon"></i> IFC Coleta</h1>
                    <section class="coleta-info-texto">
                        Sistema para coleta de dados dentro da Internet das Coisas
                    </section>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}