{% extends 'base.html' %}

{% block body %}

    <div class="ui container coleta-content">

        <div class="ui centered grid coleta-grid">
            <div class="ui row segment coleta-segment border-segment">

                <div class="three wide column">
                    <a href="{% url 'index' %}">
                        <div class="ui labeled icon button basic">
                            <i class="left arrow icon"></i> Voltar
                        </div>
                    </a>
                </div>

                <div class="ten wide column">
                    <div class="coleta-title-edit-page">
                        <h1><i class="list icon"></i> Sensores</h1>
                    </div>
                </div>

                <div class="three wide column">
                    <div class="ui right floated vertical buttons">
                        <a href="{% url 'novo_sensor' %}" class="ui labeled icon button green">
                            <i class="plus icon"></i> Novo Sensor
                        </a>
                        <a href="{% url 'lista_sensores_projetos' %}" class="ui labeled icon button blue">
                            <i class="list icon"></i> Em utilização
                        </a>
                    </div>
                </div>

                <table class="ui celled table coleta-table-form">
                    <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Projetos utilizando</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sensor de Temperatura</td>
                        <td>Estação Meteorológica; SIES</td>
                    </tr>
                    <tr>
                        <td>Sensor de Umidade</td>
                        <td>Estação Meteorológica; SIES</td>
                    </tr>
                    <tr>
                        <td>Sensor de Presença</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Sensor ultrassônico</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Sensor de Pluviosidade</td>
                        <td>Estação Meteorológica;</td>
                    </tr>
                    <tr>
                        <td>Sensor de CO²</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Anemômetro</td>
                        <td>Estação Meteorológica</td>
                    </tr>
                    <tr>
                        <td>Sensor de Umidade do Solo</td>
                        <td>SIES</td>
                    </tr>
                    </tbody>
                </table>

                <div class="ui centered grid coleta-pagination">
                    <div class="ui pagination menu">
                        <a href="#" class="icon item blue" style="color: #2185d0">Primeira</a>

                        <a href="#" class="icon item"><i class="left arrow icon blue"></i></a>

                        <a href="#" class="icon item">1</a>
                        <a href="#" class="icon item" style="color: #2185d0">2</a>
                        <a href="#" class="icon item" style="color: #2185d0">3</a>

                        <a href="#" class="icon item"><i class="right arrow icon blue"></i></a>
                        <a href="#" class="icon item blue" style="color: #2185d0">Última</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
